.userList{
  padding: 50px 300px;
}

.btn{
  margin-right: 5px;
}

.user-form{
  background: white;
  margin: 70px 200px;
  padding: 50px;
}
button{
  background-color: #1E3163;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px!important;
}
.a{
  text-align:right;
}